<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kristie_syda.friendkeeper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.kristie_syda.friendkeeper.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:label="Sign Up">
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Activities.AddActivity"
            android:label="Add Contact">
        </activity>
        <activity
            android:name=".Activities.ViewActivity"
            android:label= "View Contact">
        </activity>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="XSvwBB0y1Tof3v7zTu0FvyMwTe8HtBg2lU8Ji7o2" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="CU5rm1iL1Ex9hIyJF5XEPsrGtX4aKh8eX46t1oXK" />
    </application>

</manifest>
